img {
  max-width: 100%;
}

.bg-bordo {
  background-color: #4A2B33;
}

h2 {
  font-family: "Azeret Mono", monospace;
  font-size: 17px;
  font-weight: 700;
  line-height: 21.6px;
}

p {
  font-size: 32px;
  line-height: 44.8px;
}

button.btn {
  border: 2px solid #6F6F64;
  background-color: transparent;
  color: #6F6F64;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 17px 15px;
  border-radius: 0;
}
button.btn.btn-active {
  background: #6F6F64;
  color: #FFF;
}

.navbar {
  padding: 20px 0;
}
.navbar-collapse {
  justify-content: space-between;
}
.navbar-nav .nav-link {
  color: #D27487;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.section-1 {
  padding-bottom: 36px;
}

.section-2 {
  padding: 220px 0;
  color: #222;
}
.section-2 p {
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.section-3 {
  padding: 120px 0;
  background: #E9E9E3;
  color: #6F6F64;
}
.section-3 .separator {
  margin-bottom: 74px;
}
.section-3 .menu {
  display: none;
}
.section-3 .menu.open {
  display: block;
}
.section-3 .padd-right {
  padding-right: 103px;
}

.section-4 {
  background: #AA9E54;
  color: #FFF;
  padding: 120px 0;
}
.section-4 p {
  font-family: Inter, sans-serif;
  font-size: 25px;
  line-height: 36.4px;
  margin-bottom: 0;
}
.section-4 .margin_bot {
  margin-bottom: -1px;
}
.section-4 .margin_bot_2 {
  margin-bottom: 35px;
}

.section_images {
  background: #FFF;
  padding: 120px 0;
}

.section_5 {
  padding: 120px 0;
  color: #D27487;
}
.section_5 .bg-bordo {
  background-color: #4A2B33;
}
.section_5 .text_1 {
  font-family: Azeret Mono, monospace;
  font-size: 47px;
  line-height: 62.5px;
  letter-spacing: 1px;
}
.section_5 .text_2 {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.section-hover .card {
  overflow-x: hidden;
}
.section-hover .card-img {
  position: relative;
}
.section-hover .card-img :hover .card-links {
  right: 0;
}
.section-hover .card-links {
  position: absolute;
  right: -71px;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: right 0.5s;
}
.section-hover .card-links a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #eee;
}
.section-hover .card-links a:not(:last-child) {
  margin-bottom: 5px;
}
.section-hover .card-links a:hover {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
